.search {
    margin-top: 30px;
    margin-left: 30px;
    width: 70%;
}

.form-group {
    margin: 30px;
    width: 70%;
}
.btn-group-vertical {
    align-content: center;
    margin-top: 60px;
    margin-left:30px;
    width: 70%;
    

}

.btn-group-vertical .btn {
    border: 1px solid blue;
}
.btn-lg {
    width: 100%;
    border: 1px solid blue;
}